target/
!.mvn/wrapper/maven-wrapper.jar
!src/main/java/edu/lopezluismiguel/endes/src/main/**/target/
!src/main/java/edu/lopezluismiguel/endes/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
*.html
allclasses-index.html
allpackages-index.html
element-list
help-doc.html
index.html
member-search-index.js
module-search-index.js
overview-tree.html
overview-summary.html
package-search-index.js
search.html
tag-search-index.js
type-search-index.js
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!src/main/java/edu/lopezluismiguel/endes/src/main/**/build/
!src/main/java/edu/lopezluismiguel/endes/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store